@using EmpresaSegura.Shared
@using Microsoft.AspNetCore.Components.Authorization
@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthenticationStateProvider

<button class="btn btn-primary" @onclick=Salir>Cerrar Sesion</button>

@code {
    async Task Salir()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "Token");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}
