@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <p>Bienvenido @context.User.Identity?.Name!</p>
        <CerrarSesion />
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

